Задание 1 
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
rating = pd.read_csv('ratings.csv')
rating.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [3]:
movies = pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000095 entries, 0 to 25000094
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 762.9 MB

In [5]:
rating1 = rating[(rating['rating'] == 5.0)]
rating1['movieId'].value_counts().head()

318     39553
296     32169
356     25918
260     25804
2571    25482
Name: movieId, dtype: int64

In [6]:
movies[movies['movieId'] == 318]['title'].head()

314    Shawshank Redemption, The (1994)
Name: title, dtype: object

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [7]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [8]:
data[ data['country'].str.contains('lith', case=False) ]['country'].unique()

array(['Lithuania'], dtype=object)

In [9]:
filtered_countries = data[ ((data['country']=='Latvia') | (data['country']=='Lithuania') | (data['country']=='Estonia')) & ((data['category'] == 4) | (data['category'] == 12) | (data['category'] == 21)) & ((data['year'] >= 2005) & (data['year'] <= 2010))]

In [10]:
print('Суммарное потребление ',filtered_countries['quantity'].sum())

Суммарное потребление  240481.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [15]:
page_url = 'https://help.babyshop.com/hc/ru/articles/360023672833-%D0%BE%D0%B1%D0%BE%D0%B1%D1%89%D0%B5%D0%BD%D0%BD%D0%B0%D1%8F-%D1%82%D0%B0%D0%B1%D0%BB%D0%B8%D1%86%D0%B0-%D1%81%D0%BE%D0%BE%D1%82%D0%B2%D0%B5%D1%82%D1%81%D1%82%D0%B2%D0%B8%D1%8F-%D1%80%D0%B0%D0%B7%D0%BC%D0%B5%D1%80%D0%BE%D0%B2-%D0%B4%D0%B5%D1%82%D1%81%D0%BA%D0%BE%D0%B9-%D0%BE%D0%B1%D1%83%D0%B2%D0%B8-%D0%BF%D0%BE-%D0%B2%D0%BE%D0%B7%D1%80%D0%B0%D1%81%D1%82%D1%83-%D1%80%D0%B5%D0%B1%D0%B5%D0%BD%D0%BA%D0%B0'
df = pd.read_html(page_url, encoding='utf-8', header=0)
df[1]

,Размер EU,23,24,25,26,27
0,Размер UK,6,7,8,85,9
1,Размер US,7,8,9,95,10
2,Размер Japan,145,15,155,16,165
3,Длина стопы прибл. (cм),"14- 14,6","14,6- 15,6","15,6- 15,9","15,9- 16,5","16,5- 16,8"
4,Длина стопы прибл. (дюйм),5 1/2- 5 3/4,5 3/4- 6 1/8,6 1/8- 6 1/4,6 1/4- 6 1/2,6 1/2- 6 5/8